In [17]:


# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
df1 = pd.read_csv('paloalto.csv')

In [19]:
df1.head()

,Domain,Receive Time,Serial #,Type,Threat/Content Type,Config Version,Generate Time,Source address,Destination address,NAT Source IP,...,thr_category,contentver,sig_flags,SCTP Association ID,Payload Protocol ID,http_headers,URL Category List,UUID for rule,HTTP/2 Connection,dynusergroup_name
0,1,2020-05-29 05:12:12.000,7.2550000573e+012,THREAT,vulnerability,2049,43980.216806,23.94.94.0/24,172.19.30.0/24,23.94.94.0/24,...,sql-injection,AppThreat-8277-6107,0x0,0,4294967295,NaN,NaN,NaN,NaN,NaN
1,1,2020-05-29 05:12:06.000,7.2550000573e+012,THREAT,vulnerability,2049,43980.216736,23.94.94.0/24,172.19.30.0/24,23.94.94.0/24,...,sql-injection,AppThreat-8277-6107,0x0,0,4294967295,NaN,NaN,NaN,NaN,NaN
2,1,2020-05-29 05:11:59.000,7.2550000573e+012,THREAT,vulnerability,2049,43980.216655,23.94.94.0/24,172.19.30.0/24,23.94.94.0/24,...,sql-injection,AppThreat-8277-6107,0x0,0,4294967295,NaN,NaN,NaN,NaN,NaN
3,1,2020-05-29 05:11:53.000,7.2550000573e+012,THREAT,vulnerability,2049,43980.216586,23.94.94.0/24,172.19.30.0/24,23.94.94.0/24,...,sql-injection,AppThreat-8277-6107,0x0,0,4294967295,NaN,NaN,NaN,NaN,NaN
4,1,2020-05-29 05:11:47.000,7.2550000573e+012,THREAT,vulnerability,2049,43980.216516,23.94.94.0/24,172.19.30.0/24,23.94.94.0/24,...,sql-injection,AppThreat-8277-6107,0x0,0,4294967295,NaN,NaN,NaN,NaN,NaN

# Data Cleaning Droping null values

In [20]:
#first we encode all string into int for our model
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [21]:
df4=df1.apply(lambda col: le.fit_transform(col.astype(str)), axis=0, result_type='expand')

In [24]:

#list(df4.columns.values)

In [25]:
#Now we are droping all null values and unuseful data
new_df1=df4.drop(['Source User', 'Destination User','contenttype','filedigest','cloud',
         'user_agent','filetype','xff','referer','sender','subject','recipient','reportid','DG Hierarchy Level 1',
         'DG Hierarchy Level 2','DG Hierarchy Level 3','DG Hierarchy Level 4','file_url','Source VM UUID','Destination VM UUID',
         'http_method','Tunnel ID/IMSI','Parent Session ID','Parent Session Start Time','Tunnel','URL Category List',
        'dynusergroup_name','http_headers','Domain','Receive Time','URL/Filename','pcap_id','Monitor Tag/IMEI','UUID for rule',
                   'HTTP/2 Connection'], axis = 1)

new_df1.head()

,Serial #,Type,Threat/Content Type,Config Version,Generate Time,Source address,Destination address,NAT Source IP,NAT Destination IP,Rule,...,Destination Country,cpadding,url_idx,Virtual System Name,Device Name,thr_category,contentver,sig_flags,SCTP Association ID,Payload Protocol ID
0,5,0,4,0,53357,4742,40,2002,87,15,...,1,0,1,0,0,12,34,0,0,0
1,5,0,4,0,53356,4742,40,2002,87,15,...,1,0,1,0,0,12,34,0,0,0
2,5,0,4,0,53355,4742,40,2002,87,15,...,1,0,1,0,0,12,34,0,0,0
3,5,0,4,0,53354,4742,40,2002,87,15,...,1,0,1,0,0,12,34,0,0,0
4,5,0,4,0,53353,4742,40,2002,87,15,...,1,0,1,0,0,12,34,0,0,0

In [32]:
x1 = new_df1.drop(["Threat/Content Type"],axis = 1)
X = x1.iloc[:,2:44].values
y = new_df1.iloc[:,2].values

In [33]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

# Building the Logistic Regression Model

In [34]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [36]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [38]:
cm

array([[  729,     0,     0,     0],
       [    0,     0,     0,     0],
       [    0,     0,   253,   234],
       [    0,     1,     7, 26322]], dtype=int64)

# Accuracy of Logistic Regression

In [40]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9912146954185725

# Building the Decision Tree Model

In [41]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, test_size = 0.30, random_state = 0)

# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train1, y_train1)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [42]:
y_pred1 = regressor.predict(X_test)

In [45]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(y_test1, y_pred1)

# Accuracy of Decision Tree Model

In [43]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test1, y_pred1))

Accuracy: 0.9999636970885065

# Building the Random Forest Model

In [51]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, test_size = 0.30, random_state = 0)

from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(X_train2,y_train2)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [52]:
y_pred2=clf.predict(X_test2)

In [53]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm2 = confusion_matrix(y_test2, y_pred2)

# Accuracy of Decision Tree Model

In [54]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test2, y_pred2))

Accuracy: 0.9999636970885065